# Terraform
.terraform/

# Terraform State
*.tfstate
*.tfstate.*

# Variables
terraform.tfvars

# Crash Log
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc

# Lambda deployment packages
*.zip
